<!DOCTYPE html>
<html>
<style>
    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="ligabalonApp" ng-controller="controladorget">

    <table >
        <tr ng-repeat="x in jugadores" | ng-show="x.canastasTotales > 50">

            <td ng-if="$odd" style="background-color:red" >
                {{ x.nombre }}</td>
            <td ng-if="$even"  style="background-color:lawngreen">
                {{ x.nombre }}</td>
            <td ng-if="$odd" style="background-color:blue">
                {{ x.posicion }}</td>
            <td ng-if="$even"  style="background-color:lawngreen">
                {{ x.posicion }}</td>


        </tr>
    </table>

</div>

<script>
    var app = angular.module('ligabalonApp', []);
    app.controller('controladorget', function($scope, $http) {
        $http.get("/api/jugadors").then(function (response) {
            $scope.jugadores = response.data;
        });
    });
</script>


</body>
</html>
