<!DOCTYPE html>
<html>
<style>
    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="ligabalonApp" ng-controller="controladorget">
<label>nombre: <input ng-model="search.nombre"></label><br>
<label>Posicion: <input ng-model="search.posicion"></label><br>
<label>CanastasTotales: <input ng-model="search.canastasTotales"></label> <br>

<table >
    <tr><th>nombre</th><th>Posicion</th><th>Canastas Totales</th></tr>
    <tr ng-repeat="x in jugadores | filter:search">
        <td>{{x.nombre}}</td>
        <td>{{x.posicion}}</td>
        <td>{{x.canastasTotales}}</td>
    </tr>
</table>
</div>
<script>
    var app = angular.module('ligabalonApp', []);
    app.controller('controladorget', function($scope, $http) {
        $http.get("/api/jugadors").then(function (response) {
            $scope.jugadores = response.data;
        });
    });
</script>

</body>

</html>
