<style>
    table, th , td  {
        border-collapse: collapse;
        padding: 5px;
    }
</style>

<div class="well">
    <form name="formJugador" >
        CanastasTotales: <input type="number" name="canastasTotales" ng-model="canastasTotales" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required/>

        <br/>
        <button type="submit" ng-disabled="formJugador.$invalid || isSaving" class="btn btn-primary"  ng-click="a(canastasTotales);" >
            <span>Save</span>
        </button>
    </form>

    </form>


</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <td >Nombre</td>
            <td >Posicion</td>
            <td>Canastas Totales</td>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="jugador in topcanastas ">
            <td >{{jugador.nombre}}</td>


            <td  >{{jugador.posicion}}</td>

            <td> {{jugador.canastasTotales}}</td>


        </tr>
        </tbody>
    </table>
</div>





